/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f1f8;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    color: #d11b6b;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);  /* Cuatro columnas para los semestres */
    grid-gap: 10px;
    padding: 20px;
    margin: 0 50px;
}

/* Estilos para cada semestre */
.semester {
    background-color: #d11b6b;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.semester:hover {
    background-color: #a10d5e; /* Rosado más oscuro al pasar el ratón */
}

/* Estilos para cada asignatura */
.course {
    background-color: #fff;
    color: #333;
    padding: 10px;
    text-align: center;
    border: 1px solid #d11b6b;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.course:hover {
    background-color: #f0a6ca;
}

/* Estilos para certificaciones */
.certification {
    background-color: #f0f0f0;
    color: #d11b6b;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.certification:hover {
    background-color: #f0a6ca;
}

/* Rejilla adaptada para diferentes tamaños de pantalla */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr; /* Una sola columna en pantallas muy pequeñas */
    }
}
